{
  "env": {
    "node": true
  },
  ecmaFeatures: {
    jsx: true
  },
  "globals": {
    "React": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "react/prop-types": 0
  }
}
